.App {
  display: grid;
  grid-template-columns: 1fr 75px 1fr;
  grid-template-rows: 75px 1fr 1fr;
}
.computercards {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.war {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  
}

.usercards {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}
.cards {
  display: block;
  margin-left: auto;
  margin-right: auto;
  transform: rotate(90deg);
  
}


